<div class="single-review-card__wrapper">
    <p class="single-review-card__title">{{review.reviewItem}}</p>
    <p class="single-review-card__location">{{review.location}}</p>
    <p class="single-review-card__author">{{review.author}}</p>
    <p class="single-review-card__body">{{review.reviewBody}}</p>
    <label class="single-review-card__tags-wrapper"> 
        Tags: 
        <ul class="single-review-card__tags-list">
    {{#each tags}}
            <li class="tags-list-item">{{name}}</li>
    {{/each}}
        </ul>
    </label>
</div>